<!DOCTYPE html>
<html>
    <head>
        <title>Artisti</title>
        <link rel="stylesheet" href="/stile.css?version=2" />
    </head>

    <body>
        <div><a href="/"><img src="/logo-siw.png" width="50%"/></a></div>
        <div th:if="${artist}">
        <h1 th:text="${artist.nome} + ' ' + ${artist.cognome}">Nome artista</h1>
            <div>Anno di nascita: <span th:text="'(' + ${artist.nascita} + ')'">2000</span></div>
            <span><img width="30%" th:src="${artist.urlImage}" /></span>
        </div>
        <div th:unless="${artist}">Non esiste</div>
    </body>
</html>